.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: #e8e6e6;
}

.h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 32;
    font-size: 2em;
    font-family: monospace;
    color: #333;
}

.p {
    margin-bottom: 24;
    text-align: center;
}

.code {
    color: #61dafb;
    padding: 4;
    background-color: #333;
    font-size: 1.25em;
    border-radius: 4;
}
